server:
  port: 8081
spring:
  config:
    import: optional:file:.env.local[.properties]
  datasource:
    url: jdbc:postgresql://localhost:5432/Shopco
    username: postgres
    password: Wojuolaayo97!
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  output:
    ansi:
      enabled: ALWAYS

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

logging:
  file:
    name: logger.log
  level:
    root: info

management:
  endpoints:
    web:
      exposure:
        include: health,info




