server:
  port: 8081
spring:
  config:
    import: optional:file:.env.local[.properties]
  datasource:
    url: jdbc:postgresql://${DATABASE_HOST}:5432/${DATABASE_NAME}
    username: ${DATABASE_USER}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    baseline-version: 1
    baseline-on-migrate: true
    locations: classpath:db/migration
    enabled: true

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USER_NAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enabled: true
            required: true


  output:
    ansi:
      enabled: ALWAYS

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

logging:
  file:
    name: logger.log
  level:
    root: info

management:
  endpoints:
    web:
      exposure:
        include: health,info


cloudinary:
  api:
    key: ${CLOUDINARY_API_KEY}
    secret: ${CLOUDINARY_API_SECRET}
  cloud:
    name: ${CLOUDINARY_CLOUD_NAME}


monnify:
  apiKey: ${MONNIFY_API_KEY}
  secretKey: ${MONNIFY_SECRET_KEY}
  contractCode: ${MONNIFY_CONTRACT_CODE}
  uri: ${MONNIFY_BASE_URI}
  redirectUri: ${MONNIFY_REDIRECT_URI}